@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
/* this line code for root of the color */
:root {
  --line-border-fill: #3498db;
  --line-border-empty: #383838;

}

/* this line code for box design */

* {
  box-sizing: border-box;
}

body {
  background-color: #1f1f1f;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
/* this line code for progress-container */
.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}
/* this line code for before progress container  */
.progress-container::before {
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}
/* this line code for progress */
.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}
/* this line code for circle  */
.circle {
  background-color: #1f1f1f;
  color:#e2e2e2;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
}
/* this line code for cicle active */
.circle.active {
  border-color: var(--line-border-fill);
}

/* this code for btn */

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

/* this code for btn active */
.btn:active {
  transform: scale(0.98);
}


/* this code for btn focus */
.btn:focus {
  outline: 0;
}

/* this code for disabled */
.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}